
.container_listCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.item_cart{
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.button_close{
    all: unset;
    cursor: pointer;
}