
.container_card{
    width: 100%;
    display: flex;
    min-height: 85vh;
    background-color: #0B6434;
}

.content_cards{
    padding: 20px;
    color: #fff;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.container_cart{
    border-left: 1px solid #fff;
    width: 30%;
    background-color: #42ae75;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.container_cart__title{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.container_button {
  justify-self: flex-end;
    
}

.container_button button{
     padding: 10px;
    color: white;
    background-color: #0B6434;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    
}